:root {
  --color-text: #1c0d0f;
  --input-bg: #f2e8e8;
  --input-text: #964f52;
  --max-width: 1280px;
  --price-color: #964f52;
  --border-color: #e5e8eb;
  --font-family: "Plus Jakarta Sans", sans-serif;
}
