:root {
  --color-bg: #e5e8eb;
  --color-text: #000000;
  --input-bg: #f2e8e8;
  --input-text: #964f52;
  --max-width: 1280px;
  --font-family: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--max-width);
  width: 100%;
}
